/* You can add global styles to this file, and also import other style files */
img {
    border-radius: 50%;
  }

  #form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }